faiss-cpu
futures
langchain
langchain-openai
langchain-community
langchain-core
matplotlib
networkx
nltk
numpy
python-dotenv
scikit-learn
spacy
tqdm
rank-bm25
PyMuPDF
deepeval
pypdf
Flask
llama-cloud-services
